.body {
    margin-right: 2px;
    border: solid black 2px;
}

.profile {
    color: #513992;
    height: 87%;
}

.userdash {
    height: 550px;
}

.raksha-color {
    color: #513992;
}

.icon-i {
    font-size: 120px;
}

.card {
    margin-bottom: 5px;
    height: 95%;
    text-align: center;
}