<div>
    <h4>Personal-details</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">user id</th>
                <th scope="col">full name</th>
                <th scope="col">E-mail</th>
                <th scope="col">Phone num</th>
                <th scope="col">Photo ID type</th>
                <th scope="col">photo id details</th>
                <th scope="col" colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{userDetail.id}}</td>
                <td>{{userDetail.fname}} {{userDetail.mname}} {{userDetail.lname}}</td>
                <td>{{userDetail.gmail}}</td>
                <td>{{userDetail.mobileNo}}</td>
                <td>{{userDetail.photoId}}</td>
                <td>{{userDetail.photoIdType}}</td>
                <td>
                    <button class="btn btn-primary">edit</button>
                </td>
            </tr>
        </tbody>
        <h4>Insurance details</h4>
        <thead>
            <tr>
                <th scope="col">insurance number</th>
                <th scope="col">type</th>
                <th scope="col">plan</th>
                <th scope="col">amount paid</th>
                <th scope="col">vehicle type</th>
                <th scope="col">vehicle number</th>
                <th scope="col" colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of InsuranceList">
                <td>{{u.id}}</td>
                <td>{{u.type}} </td>
                <td>{{u.plan}}</td>
                <td>{{u.fee}}</td>
                <td>{{u.vehicleType}}</td>
                <td>{{u.vehicle_no}}</td>
                <td>
                    <button class="btn btn-primary">view</button>
                </td>
                <td>
                    <a class="btn btn-primary" href="download" role="button">download</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>