

.navbar .navbar-nav .nav-link {
    color: #f7f3f3;
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover{
    color:black;
    background: rgba(235, 80, 80, 0.801);
}
.navbar {
  border-top: 5px solid #ffffff;
}
.megamenu {
    position: static
}

.dropdown-menu {
    border: none;
    background-color: #F3E5F5;
    padding: 40px 40px 20px 40px
}
#dropdown-menu1 {
    position: absolute;
    left: 165px
}

.dropdown-item {
    padding: 10px
}
.img{
   left:100px;
  margin-left:30%;
}
#footer {
    background:rgb(165, 127, 127);
    width:100%;
    height:200px;
    bottom:0;
    left:0;
} 
.logo{
    height: 50px;
    width:70px;
    object-fit: cover;
}
.img1{
    width:600px;
    height:200px;
    left:100px;
    margin-left:30%;
    object-fit: cover;
}
body {
    background-color: #181e2d
}

.bbb-wrapper {
    margin-top: 200px
}

.fl-wrap {
    float: left;
    width: 100%;
    position: relative
}

.bbb-wrapper .subcribe-form p {
    color: #fff;
    font-size: 14px
}

.bbb-wrapper .subcribe-form form {
    max-width: 450px;
    margin: 65px auto;
    position: relative
}

.bbb-wrapper .subcribe-form #subscribe input {
    width: 110%;
    height: 88px;
    background: #fff;
    border: rounded;
    outline: none;
    border-radius: 1px;
    padding: 0 30px;
    box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.2)
}

.bbb-wrapper .subcribe-form #subscribe #subscribe-button {
    height: 50px;
    padding: 0px 30px;
    border-radius: 3px;
    border: none;
    position: absolute;
    right: 1px;
    left:350px;
    top: 20px;
    font-size: 11px;
    color: #fff;
    cursor: pointer
}

.subscribe-message {
    color: #fff;
    float: left;
    margin-top: 10px;
    text-align: left;
    font-weight: 500;
    line-height: 19px
}

.color-bg {
    background: #4DB7FE
}

#subscribe-button:hover {
    background: #2C3B5A;
    color: #fff
}
