
  .textColor{
    color:#513992;
   
  }
  .align{
    margin-top: 60px;
    font-size: medium;
    color:#513992
  }
  .bgColor{
    background-color: rgb(250, 250, 250);
    height: 660px;
    width:100%;
    margin-top: 0%;
  }
  .aligning{
   margin-left:35%;
   margin-top:6%;
  }
 
 