.raksha-primary-color {
    color: #513992;
}

.img {
    left: 100px;
    margin-left: 30%;
}

#footer {
    background: rgb(250, 249, 249);
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
}

.logo {
    height: 50px;
    width: 70px;
    object-fit: cover;
}

.img1 {
    width: 600px;
    height: 200px;
    left: 100px;
    margin-left: 30%;
    object-fit: cover;
}

.home:hover {
    padding: 6px;
    border-radius: 4px;
    display: block;
    background-color: #513992;
    color: white;
}

* {
    padding: 0;
    margin: 0;
    font-display: swap;
}

body {
    font-family: 'Inter';
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: rgb(250, 250, 250);
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

body,
div,
span,
iframe,
h2,
a,
img {
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: middle;
    background: transparent;
    margin: 0;
    padding: 0;
}

body {
    align-content: center;
    width: 50%;
    height: 50%;
    float: center;
    position: fixed;
    margin-left: 40%;
    margin-bottom: 40%;
    align-content: center;
}

img {
    margin-left: 13%;
    align-content: center;
}

.login {
    text-decoration-style: solid;
    font-style: bold;
    font-size: 20px;
    margin-top: 5%;
    margin-bottom: 1%;
    align-content: center;
}

.input {
    width: 50%;
    margin-top: 5%;
    align-content: center;
    padding: 12px;
    border-radius: 2px;
    border: solid 1px #afcfe4;
    outline: 0;
    background: -webkit(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #CDDBE4), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #CDDBE4 1px, #FFFFFF 25px);
}

button {
    margin-top: 10%;
    margin-left: 12%;
    margin-right: 12%;
    padding: 12px;
    padding-right: 25px;
    border-radius: 5px;
    width: 18%;
    align-content: center;
    font-size: 20px;
    text-align: center;
}