<body>

    <div class="sc-bdVaJa sc-bwzfXH sc-VigVT eVMMvy contentalign">
        <div class="sc-bdVaJa sc-bwzfXH sc-jTzLTM cTYFAd">
            <img src="https://container-app.ackoassets.com/am/myaccount_frontend/92201f8bb8b3b9820539e248c8bd3401.svg" alt="" class="sc-jzJRlG fOVlIp">
            <div class="sc-bdVaJa sc-bwzfXH eSixem  login">
                <h4 class="sc-iwsKbI sc-fjdhpX OjjhL ">Login with your Mobile number/ Email</h4>
            </div>
            <div class="sc-bdVaJa sc-bwzfXH eSixem">
                <p font-size="12px" color="#151619" font-weight="400" style="margin-left: 10%;" class="sc-iwsKbI sc-fjdhpX iGkewh">Claim, edit or renew your policy</p>
            </div>
            <div class="sc-bdVaJa sc-bwzfXH hLhZTb">
                <div class="sc-bdVaJa sc-bwzfXH jxMvLV">
                    <div class="sc-bdVaJa sc-bwzfXH sc-cvbbAY czBtSa">

                        <input class="input100 input" type="email" name="Username" placeholder="Enter email id/mobile number" required pattern="[A-Za-z]{3,}">
                    </div>
                    <div class="sc-bdVaJa sc-bwzfXH sc-cvbbAY czBtSa">

                        <input class="input100 input" type="password" name="password" placeholder="Enter password">

                    </div>
                </div>
            </div>
            <div class="sc-bdVaJa sc-bwzfXH iQCuCr">
                <div class="sc-bdVaJa sc-bwzfXH jpburF">
                    <div class="container-login100-form-btn p-t-40">
                        <div class="row justify-content-center">
                            <div class="form-group col-sm-10 ">

                                <button class="btn btn-outline-success btn-lg" type="submit" (click)="clickOnGetOTP()">Send OTP </button>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</body>