
.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
body {
    margin-top:100px;
    padding:0;
    height:100%;
 }
 #body {
    padding:10px;
    padding-bottom:60px;   /* Height of the footer */
 }
 .card 
{
    padding:40px 150px;

    margin-top: auto;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    border: none !important;
    
}    
.inputstl 
{ 
    padding: 12px; 
    border: solid 1px #afcfe4; 
    outline: 0; 
    background: -webkit(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #CDDBE4), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #CDDBE4 1px, #FFFFFF 25px); 
   
    
} 

 #aligning{
    margin-top: 0px;
 }
 .textColor{
    color: #513992;
   
 }