<body id="body">
    <div class="row d-flex justify-content-center">
     <div class="col-xl-5 col-lg-6 col-md-7 col-10 text-center ">
       <h1 class="text-wrap bg-secondary text-white">BIKE INSURANCE</h1>
        <div class="card bg-white text-black border border-dark shadow-left rounded ">
              
          <form class="form-card " >
     
           <div class="  row justify-content-between text-left ">
              <div class="form-group col-sm-12 flex-column d-flex ">
                <label for="Inputselect"  class="form-control-label px-3 ">Brand</label>
                <select class="form-control inputstl s  form-group col-sm-6 flex-column d-flex  form-control-label px-3" (change)="getModel($event)" [(ngModel)]="selectedBrand" name="brand" >
                  <option *ngFor="let brand of brandList" [value]= "this.brand" >{{ brand }}</option>
                </select>
              </div>
           </div>  
           <div class=" row justify-content-between text-left ">
              <div class="form-group col-sm-12 flex-column d-flex ">
                <label for="Inputselect" class="form-control-label">Model</label>
                <select class="form-control inputstl  form-group col-sm-6 flex-column d-flex  form-control-label px-3"  [(ngModel)]="selectedModel" name="model" >
                  <option *ngFor="let model of modelList" [value]= "this.model" >{{ model }}</option>
                </select>
              </div>
           </div>  
          
           <div class=" row justify-content-between text-left ">
              <div class="form-group col-sm-8 flex-column d-flex ">
                <label for="Name" class="form-control-label">Year</label>
                <input type="number" class="form-control inputstl"  [(ngModel)]="year" #yr=ngModel name="year" id="Year" placeholder="Year" required pattern="[0-9]{4,4}">
                <div *ngIf="yr.dirty && yr.invalid" class="alert alert-warning">
                  invalid Year
              </div>
              </div>
            </div>
          
           
    
           <button (click)="save()" type="submit" class="btn btn-info">Submit Information</button>
      
          </form>
        </div>
     </div>
    </div>
</body>
